@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@config "../../tailwind.config.mjs";

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(/PlusJakartaSans[wght].woff2) format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url(/PlusJakartaSans-Italic[wght].woff2) format('woff2');
}

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-sans--font-feature-settings: 'case';
  --aspect-image: 3/2;
  --aspect-wide: 2/1;
  --shadow-inset: inset 0 0 0 1px;

  --color-indigo-50: oklch(96.2% 0.013 270.62);
  --color-indigo-100: oklch(93% 0.024 270.62);
  --color-indigo-200: oklch(87% 0.047 270.62);
  --color-indigo-300: oklch(78.5% 0.083 270.62);
  --color-indigo-400: oklch(63% 0.131 270.62);
  --color-indigo-500: oklch(49.43% 0.1673 270.62);
  --color-indigo-600: oklch(43% 0.188 270.62);
  --color-indigo-700: oklch(38.5% 0.172 270.62);
  --color-indigo-800: oklch(33.5% 0.14 270.62);
  --color-indigo-900: oklch(30% 0.103 270.62);
  --color-indigo-950: oklch(21.5% 0.065 270.62);

  --color-neutral-900: oklch(18.22% 0 0);
  --color-neutral-950: oklch(13.44% 0 0);
}

@utility container {
  @media (width >= 96rem) {
    max-width: 80rem;
  }
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@utility container-narrow {
  width: 100%;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 50rem;
  }
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@layer base {
  /* Force ring color since tailwind doesn't provide a better way of customizing it */
  :root {
    --ring: #6677cc;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --ring: #334499;
    }
  }

  [type='checkbox']:focus,
  *:not(.disable-focus):focus-visible {
    --tw-ring-color: transparent !important;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: transparent !important;
    outline: 2px solid var(--ring) !important;
    outline-offset: 1px !important;
    transition: none !important; /* prevents flash of currentColor for links */
  }

  /* Nicer text wrapping */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }
}
