@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@config '../../tailwind.config.mjs';

@font-face {
  font-family: 'InterVariable';
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  src: url(/InterVariable.woff2) format('woff2');
}
@font-face {
  font-family: 'InterVariable';
  font-style: italic;
  font-weight: 400 600;
  font-display: swap;
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  src: url(/InterVariable-Italic.woff2) format('woff2');
}
@font-face {
  font-family: 'STIXTwoText';
  font-style: normal;
  font-weight: 400 500;
  font-display: swap;
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  ascent-override: 85%;
  src: url(/STIXTwoText.woff2) format('woff2');
}

@theme {
  --font-serif: STIXTwoText, Times, serif;
  --font-sans: InterVariable, Inter, sans-serif;

  --text-7xl: 4rem;
  --text-6xl: 3.5rem;
  --text-5xl: 3rem;
  --text-4xl: 2.5rem;
  --text-3xl: 2rem;

  --aspect-image: 3/2;
  --aspect-wide: 2/1;

  /* https://www.tints.dev/palette/v1:Ymx1ZXwzNzVkY2R8NjAwfGx8MHw1fDB8MTAwfGF-cHVycGxlfDk1NDNkMHw2MDB8bHwwfDV8MHwxMDB8YX5yZWR8ZDQ0MDU4fDYwMHxsfDB8NXwwfDEwMHxtfm9yYW5nZXxlMDcyMjl8NjAwfGx8MHw0fDB8MTAwfG1-eWVsbG93fGUzYmQyNnw2MDB8bHwwfDR8MHwxMDB8bX5ncmVlbnwzYTkyNDl8NjAwfGx8MHw0fDB8MTAwfG1-dGVhbHw0MmIzYmR8NjAwfGx8MHw0fDB8MTAwfG0 */
  --color-blue-50: oklch(0.956 0.021 271.23);
  --color-blue-100: oklch(0.911 0.043 269.56);
  --color-blue-200: oklch(0.823 0.085 269.73);
  --color-blue-300: oklch(0.731 0.124 268.88);
  --color-blue-400: oklch(0.654 0.151 268.05);
  --color-blue-500: oklch(0.583 0.174 266.75);
  --color-blue-600: oklch(0.516 0.179 266.07);
  --color-blue-700: oklch(0.413 0.171 265.07);
  --color-blue-800: oklch(0.309 0.131 264.97);
  --color-blue-900: oklch(0.209 0.085 264.94);
  --color-blue-950: oklch(0.142 0.051 260.79);
  --color-purple-50: oklch(0.955 0.029 310.22);
  --color-purple-100: oklch(0.908 0.061 311.3);
  --color-purple-200: oklch(0.833 0.109 310.92);
  --color-purple-300: oklch(0.755 0.152 310.06);
  --color-purple-400: oklch(0.68 0.187 309.1);
  --color-purple-500: oklch(0.62 0.206 308.24);
  --color-purple-600: oklch(0.556 0.21 307.56);
  --color-purple-700: oklch(0.45 0.208 305.45);
  --color-purple-800: oklch(0.345 0.164 304.97);
  --color-purple-900: oklch(0.219 0.101 305.69);
  --color-purple-950: oklch(0.154 0.074 308.68);
  --color-red-50: oklch(0.957 0.022 7.26);
  --color-red-100: oklch(0.913 0.047 6.52);
  --color-red-200: oklch(0.841 0.089 8.6);
  --color-red-300: oklch(0.769 0.128 10.14);
  --color-red-400: oklch(0.703 0.158 11.88);
  --color-red-500: oklch(0.649 0.178 14.08);
  --color-red-600: oklch(0.592 0.184 15.63);
  --color-red-700: oklch(0.502 0.186 19.98);
  --color-red-800: oklch(0.38 0.143 20.53);
  --color-red-900: oklch(0.25 0.093 19.39);
  --color-red-950: oklch(0.163 0.065 13.31);
  --color-orange-50: oklch(0.971 0.017 56.23);
  --color-orange-100: oklch(0.941 0.035 54.81);
  --color-orange-200: oklch(0.886 0.071 55.58);
  --color-orange-300: oklch(0.831 0.102 54.7);
  --color-orange-400: oklch(0.778 0.128 53.45);
  --color-orange-500: oklch(0.725 0.149 51.76);
  --color-orange-600: oklch(0.669 0.159 49.58);
  --color-orange-700: oklch(0.56 0.147 47.4);
  --color-orange-800: oklch(0.423 0.112 47.17);
  --color-orange-900: oklch(0.273 0.07 51.1);
  --color-orange-950: oklch(0.18 0.043 58.96);
  --color-yellow-50: oklch(0.987 0.021 95.24);
  --color-yellow-100: oklch(0.974 0.044 95.82);
  --color-yellow-200: oklch(0.95 0.085 96.12);
  --color-yellow-300: oklch(0.925 0.119 95.71);
  --color-yellow-400: oklch(0.891 0.141 95.21);
  --color-yellow-500: oklch(0.858 0.156 94.57);
  --color-yellow-600: oklch(0.809 0.157 93.27);
  --color-yellow-700: oklch(0.688 0.138 92.3);
  --color-yellow-800: oklch(0.52 0.104 91.51);
  --color-yellow-900: oklch(0.333 0.068 93.48);
  --color-yellow-950: oklch(0.211 0.043 94.53);
  --color-green-50: oklch(0.973 0.033 150.8);
  --color-green-100: oklch(0.947 0.062 149.99);
  --color-green-200: oklch(0.892 0.109 148.97);
  --color-green-300: oklch(0.838 0.148 148.13);
  --color-green-400: oklch(0.777 0.171 147.23);
  --color-green-500: oklch(0.719 0.19 146.12);
  --color-green-600: oklch(0.589 0.137 146.88);
  --color-green-700: oklch(0.495 0.126 146.22);
  --color-green-800: oklch(0.382 0.098 146.31);
  --color-green-900: oklch(0.253 0.062 146.81);
  --color-green-950: oklch(0.179 0.04 148.21);
  --color-teal-50: oklch(0.981 0.019 200.78);
  --color-teal-100: oklch(0.96 0.033 203.46);
  --color-teal-200: oklch(0.914 0.061 203.81);
  --color-teal-300: oklch(0.869 0.08 202.75);
  --color-teal-400: oklch(0.823 0.092 202.49);
  --color-teal-500: oklch(0.769 0.102 203.3);
  --color-teal-600: oklch(0.708 0.101 203.45);
  --color-teal-700: oklch(0.597 0.091 203.72);
  --color-teal-800: oklch(0.452 0.069 203.17);
  --color-teal-900: oklch(0.299 0.045 204.33);
  --color-teal-950: oklch(0.197 0.028 203.41);
}

@utility font-book {
  font-weight: 450;
}

@utility container {
  @media (width >= 96rem) {
    max-width: 80rem;
  }
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@utility container-narrow {
  width: 100%;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  margin-inline: auto;
  padding-inline: 1.5rem;
}

@layer base {
  /* Force ring color since tailwind doesn't provide a better way of customizing it */
  :root {
    --ring: var(--color-blue-600);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --ring: var(--color-blue-400);
    }
  }

  [type='checkbox']:focus,
  *:not(.disable-focus):focus-visible {
    --tw-ring-color: transparent !important;
    --tw-ring-offset-width: 0px !important;
    --tw-ring-offset-color: transparent !important;
    outline: 2px solid var(--ring) !important;
    outline-offset: 1px !important;
    transition: none !important; /* prevents flash of currentColor for links */
  }

  /* Nicer text wrapping */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3 {
    text-wrap: balance;
    letter-spacing: -0.005em;
  }

  h4,
  h5,
  h6,
  p {
    text-wrap: pretty;
  }

  strong {
    font-weight: 550;
  }
}
