---
import { Image } from 'astro:assets';

import ProseLayout from '@layouts/ProseLayout.astro';
import ecImage from '@assets/ec-8-8.png';

const title = 'Edge Connector 8-8';
---

<ProseLayout title={title}>
  <h1 class="text-center">{title}</h1>
  <Image src={ecImage} alt={title} class="bg-transparent" width={1000} layout="constrained" />
</ProseLayout>
