---
import MainLayout from '@layouts/MainLayout.astro';

const title = 'Page not found';
const description = 'We couldn’t find the page you were looking for';
---

<MainLayout title={title}>
  <div>
    <h1>🚧<br />{title}</h1>
    <p>{description}</p>
    <a href="/">Back to home</a>
  </div>

  <style>
    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 12vmax 0;
      text-align: center;
    }
  </style>
</MainLayout>
