---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Page not found">
  <div>
    <h1>🚧<br />Page not found</h1>
    <a href="/">Back to home</a>
  </div>
</MainLayout>

<style>
  div {
    padding: 12vmax 0;
    text-align: center;
  }
</style>
