---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Page not found">
  <div>
    <h1>🚧<br />Page not found</h1>
    <a href="/">Back to home</a>
  </div>
</Layout>

<style>
  div {
    padding: 12vmax 0;
    text-align: center;
  }
</style>
