---
import MainLayout from '@layouts/MainLayout.astro';

const title = 'Page not found';
const description = 'We couldn’t find the page you were looking for';
---

<MainLayout title={title}>
  <div class="my-[20dvh] p-6 text-center">
    <p class="mb-8 text-5xl">🚧</p>
    <h1 class="mb-3 font-serif text-3xl text-neutral-950 lg:text-5xl dark:text-neutral-50">
      {title}
    </h1>
    <p class="mb-8">{description}</p>
    <a
      href="/"
      class="inline-flex h-10 cursor-pointer items-center justify-center rounded bg-neutral-950 px-4 text-center text-sm text-nowrap text-neutral-50 transition select-none hover:bg-neutral-700 active:bg-neutral-700 dark:bg-neutral-50 dark:font-medium dark:text-neutral-950 dark:hover:bg-neutral-300 dark:active:bg-neutral-300"
    >
      Back to home
    </a>
  </div>
</MainLayout>
