---
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import teamImage from '@assets/team.jpg';
---

<Layout
  title="About us"
  description="Clouder is on a mission to enable sustainable next generation real estate by changing how building tech connectivity is done."
>
  <h1>The Virtual Cabling Company</h1>
  <p>
    Clouder is on a mission to enable sustainable next generation real estate by changing how
    building tech connectivity is done.
  </p>
  <h2>Our purpose</h2>
  <p>
    Clouder is building virtual cabling technology for commercial real estate to reduce cables,
    waste, spending, and emissions both in construction and throughout lifecycle renovations. Our
    solution also provides a possibility to cut operating carbon footprint and operating costs by
    providing data for truly efficient building automation.
  </p>
  <blockquote>
    <p>
      We are the first in the world to enable universal, system agnostic virtual cabling for all
      building technology systems
    </p>
  </blockquote>
  <Image src={teamImage} alt="Clouder team" />
  <p>
    We are the first in the world to enable universal, system agnostic virtual cabling for all
    building technology systems. Doing this allows us to provide comprehensive data for truly smart
    building automation.
  </p>
  <p>
    On top of creating technology that enables more sustainable buildings, we do it so that it’s
    cheaper and makes construction and renovation projects significantly simpler and shorter.
  </p>
  <h2>Our team</h2>
  <p>
    Clouder brings together a team of experts with decades of experience from a range of industries,
    including building service technology, software development, information and cyber security,
    wireless networks, real estate asset management, investments and transactions as well as
    large-scale development projects.
  </p>
  <p>
    With this cross-disciplinary background, we understand first-hand the issues that arise in
    constructing, adapting and maintaining commercial buildings. By adopting today’s technologies,
    Clouder’s virtual cabling solution is able to reduce both the long construction times as well as
    the high costs that the commercial real estate industry face throughout a building’s lifecycle.
  </p>
  <p>
    Clouder’s innovative solution is developed to the highest standards and approved by industry
    experts.
  </p>
</Layout>
