---
import MainLayout from '@layouts/MainLayout.astro';
---

<MainLayout title="Pricing" description="Clear pricing, actionable results, and no hidden costs.">
  <h1>Pricing</h1>
  <p>Clear pricing, actionable results, and no hidden costs.</p>

  <section class="grid">
    <div>
      <h3>System audit</h3>
      <p>5000&#8202;€ per building</p>
      <p>
        Get a complete overview of your building automation system status and get suggestions for
        improvement.
      </p>
      <ul>
        <li>
          Overall view of all field devices and systems currently integrated to building automation.
        </li>
        <li>
          System analysis that includes a list of error conditions, non-functioning devices, and
          conflicts.
        </li>
        <li>Recommendations for improving the system and reducing energy consumption.</li>
        <li>
          We perform the scan on-site, and it does not necessarily require an Internet connection.
        </li>
      </ul>
      <button>Book an audit</button>
    </div>
    <div>
      <h3>Clouder Platform</h3>
      <p>199&#8202;€&#8202;/&#8202;month per building + setup fee</p>
      <p>
        Transform your building into an energy efficient smart building. Ideal for all kinds of
        buildings, both new and existing.
      </p>
      <ul>
        <li>Integrates all systems and devices regardless of the vendor or protocol.</li>
        <li>Easy to expand without breaking surfaces.</li>
        <li>
          Data led building management and control with Clouder Dashboard to reduce energy
          consumption.
        </li>
        <li>Get accurate and real time from field devices and systems.</li>
        <li>Fault detection and diagnostics with improvement suggestions.</li>
        <li>
          Provide data to third party applications through API e.g. occupier smart building app or
          property management software.
        </li>
        <li>Secure cloud storage for 5 years.</li>
        <li>Export accurate data for sustainability reporting.</li>
        <li>End-to-end encryption and safe password management for building tech systems.</li>
      </ul>
      <button>Get started</button>
    </div>
    <div>
      <h3>Clouder Portfolio</h3>
      <p>Custom pricing</p>
      <p>
        Maximize efficiency and sustainability across your entire building portfolio. Perfect for
        real estate funds.
      </p>
      <ul>
        <li>Everything in Platform, plus:</li>
        <li>Portfolio management in Clouder Dashboard.</li>
        <li>Portfolio-wide energy optimization and sustainability tracking.</li>
        <li>Benchmark performance across properties to identify inefficiencies.</li>
        <li>Scalable integrations for rapid onboarding of new buildings.</li>
        <li>Cross-building analytics for data-driven, portfolio-level decisions.</li>
        <li>Streamlined ESG reporting for regulatory compliance and investors.</li>
      </ul>
      <button>Contact sales</button>
    </div>
  </section>

  <section>
    <h2>What’s included in Clouder Platform?</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>What you get</th>
          <th>Included in the price?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Universal connectivity</td>
          <td>
            <ul>
              <li>
                Connect all building tech systems and devices, independent of vendor or protocol, by
                using Clouder Virtual Cabling Engine.
              </li>
              <li>
                Integrate new or external systems and devices with minimal construction work by
                using Clouder Edge Connectors.
              </li>
              <li>
                Protocol conversions to enable efficient communication between otherwise
                hard-to-integrate systems that do not communicate with one another.
              </li>
            </ul>
          </td>
          <td>
            Yes. Clouder Edge Connectors are sold separately 1000&#8202;€&#8202;/&#8202;device.
          </td>
        </tr>
        <tr>
          <td>Clouder Dashboard</td>
          <td>
            <ul>
              <li>View and manage all aspects of your building straight from your browser.</li>
              <li>
                Access features like
                <a href="#building-insights">Building insights</a>,
                <a href="#device-control">Device control</a>, and
                <a href="#data-solution">Data solution</a>.
              </li>
            </ul>
          </td>
          <td>Yes</td>
        </tr>
        <tr>
          <td id="building-insights">Building insights</td>
          <td>
            <ul>
              <li>
                Real-time data on energy consumption, indoor climate, and other insights enable
                improved monitoring and informed decision-making.
              </li>
              <li>Fault detection and diagnostics with recommendations on how to fix them.</li>
            </ul>
          </td>
          <td>Yes</td>
        </tr>
        <tr>
          <td id="device-control">Device control</td>
          <td>
            <ul>
              <li>Control all systems and field devices in your building.</li>
              <li>
                Use sophisticated, event-based rules to control devices. This reduces energy
                consumption without disrupting the existing building automation system.
              </li>
              <li>Enables participation in demand response programs to reduce energy costs.</li>
            </ul>
          </td>
          <td>
            Yes. Event-based rules are available for an additional
            100&#8202;€&#8202;/&#8202;month&#8202;/&#8202;building.
          </td>
        </tr>
        <tr>
          <td id="data-solution">Data solution</td>
          <td>
            <ul>
              <li>
                Secure real-time cloud storage of accurate building data. No more relying on
                benchmarks or estimates.
              </li>
              <li>
                Export your building's data as a CSV file for sustainability reporting, or access it
                via API for smart office applications and third‑party integrations.
              </li>
              <li>
                Our five-year data retention policy means that you have full ownership and control
                over the data.
              </li>
            </ul>
          </td>
          <td>Yes</td>
        </tr>
        <tr>
          <td>
            <span>Security built-in</span>
            <td>
              <ul>
                <li>Fine-grained data access rules and end-to-end encryption.</li>
                <li>
                  Robust security in building automation – no more access to systems with default
                  passwords.
                </li>
              </ul>
            </td>
            <td>Yes</td>
          </td>
          <tr>
            <td>Custom integrations</td>
            <td>
              <ul>
                <li>We work together with your team to come up with a tailored solution.</li>
              </ul>
            </td>
            <td>
              Happy to explore. <a href="/contact">Contact us</a>
            </td>
          </tr>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h2>Book a demo</h2>
    <p>
      If you’re interested in seeing the system live, contact us and book a demo visit to our
      laboratory in Helsinki.
    </p>
    <button>Contact us</button>
  </section>

  <section>
    <h2>I have a question…</h2>
    <details>
      <summary>Is this only for new construction?</summary>
      <p>
        Clouder's solution can be installed in all types of properties, both existing and new
        construction.
      </p>
    </details>
    <details>
      <summary>Can I add virtual cabling alongside my current systems?</summary>
      <p>
        Yes, our solution can be installed alongside the existing cabling regardless of the systems.
      </p>
    </details>
    <details>
      <summary>Does to system need a network connection to function?</summary>
      <p>
        The system operates locally on the property and does not require an external connection to
        function. Network connection is needed for monitoring and storing data to cloud.
      </p>
    </details>
    <details>
      <summary>Who does the installation of the connectors?</summary>
      <p>The installation can be carried out by the site's electrical or automation contractor.</p>
    </details>
    <details>
      <summary>How much does the systems cost annually? Are there any license fees?</summary>
      <p>
        The monthly fee is determined by the data amounts and scope of the service. Additionally,
        there are no extra license fees.
      </p>
    </details>
    <details>
      <summary>Does the system increase construction costs in my projects?</summary>
      <p>
        No, the system reduces work phases, installation duration, and thereby lowers construction
        costs.
      </p>
    </details>
    <details>
      <summary>How the system should be considered in building technology system plans?</summary>
      <p>Clouder provides a design guide for building automation and electrical designers.</p>
    </details>
    <details>
      <summary>Is there a warranty for the system?</summary>
      <p>
        Warranty is 24 months. After the warranty period ends, a maintenance contract offers full
        device warranty.
      </p>
    </details>
  </section>
</MainLayout>

<style>
  section {
    padding: 2rem 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    padding: 1rem 0;
  }
</style>
