---
import MainLayout from '@layouts/MainLayout.astro';

const title = 'Product';
const description =
  'Increase asset value, reduce operational costs, and improve data-led decision making. Ideal for all kinds of buildings, both new and existing.';
---

<MainLayout title={title} description={description} headerClass="bg-white dark:bg-neutral-900">
  <section class="border-b border-neutral-200 bg-white dark:border-neutral-800 dark:bg-neutral-900">
    <div class="container-narrow pt-16 pb-22 text-center md:pt-24 md:pb-30">
      <h1 class="mb-6 text-4xl font-semibold text-neutral-900 md:text-5xl dark:text-neutral-100">
        Get a real-time overview of your building
      </h1>
      <p class="mb-4 text-xl">{description}</p>
      <div class="flex justify-center">
        <a
          href="#pricing"
          class="rounded-full px-4 leading-9 font-medium text-indigo-500 transition hover:bg-indigo-50"
          >Pricing</a
        >
        <a
          href="#features"
          class="rounded-full px-4 leading-9 font-medium text-indigo-500 transition hover:bg-indigo-50"
          >Features</a
        >
        <a
          href="#questions"
          class="rounded-full px-4 leading-9 font-medium text-indigo-500 transition hover:bg-indigo-50"
          >Questions</a
        >
      </div>
    </div>
  </section>

  <section id="pricing" class="container py-24 md:py-32">
    <div class="grid grid-cols-3 gap-4">
      <div
        class="rounded border border-neutral-200 bg-white p-6 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <h3 class="mb-2 text-2xl font-semibold text-neutral-900 dark:text-neutral-100">
          System audit
        </h3>
        <p class="mb-4">
          <strong class="font-semibold">5000&#8202;€ </strong>
          <span class="text-neutral-500">per building</span>
        </p>
        <p>
          Get a complete overview of your building automation system status and get suggestions for
          improvement.
        </p>
        <ul class="my-5 list-disc pl-5 *:my-2 *:text-sm">
          <li>
            Overall view of all field devices and systems currently integrated to building
            automation.
          </li>
          <li>
            System analysis that includes a list of error conditions, non-functioning devices, and
            conflicts.
          </li>
          <li>Recommendations for improving the system and reducing energy consumption.</li>
          <li>
            We perform the scan on-site, and it does not necessarily require an Internet connection.
          </li>
        </ul>
        <button
          class="h-10 w-full rounded bg-black px-4 text-sm font-medium text-white dark:bg-white dark:text-black"
        >
          Book an audit
        </button>
      </div>
      <div
        class="rounded border border-neutral-200 bg-white p-6 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <h3 class="mb-2 text-2xl font-semibold text-neutral-900 dark:text-neutral-100">
          Clouder Platform
        </h3>
        <p class="mb-4">
          <strong class="font-semibold">199&#8202;€&#8202;/&#8202;month </strong>
          <span class="text-neutral-500">per building + setup fee</span>
        </p>
        <p>
          Transform your building into an energy efficient smart building. Ideal for all kinds of
          buildings, both new and existing.
        </p>
        <ul class="my-5 list-disc pl-5 *:my-2 *:text-sm">
          <li>Integrates all systems and devices regardless of the vendor or protocol.</li>
          <li>Easy to expand without breaking surfaces.</li>
          <li>
            Data led building management and control with Clouder Dashboard to reduce energy
            consumption.
          </li>
          <li>Get accurate and real time from field devices and systems.</li>
          <li>Fault detection and diagnostics with improvement suggestions.</li>
          <li>
            Provide data to third party applications through API e.g. occupier smart building app or
            property management software.
          </li>
          <li>Secure cloud storage for 5 years.</li>
          <li>Export accurate data for sustainability reporting.</li>
          <li>End-to-end encryption and safe password management for building tech systems.</li>
        </ul>
        <button
          class="h-10 w-full rounded bg-black px-4 text-sm font-medium text-white dark:bg-white dark:text-black"
        >
          Get started
        </button>
      </div>
      <div
        class="rounded border border-neutral-200 bg-white p-6 dark:border-neutral-800 dark:bg-neutral-900"
      >
        <h3 class="mb-2 text-2xl font-semibold text-neutral-900 dark:text-neutral-100">
          Clouder Portfolio
        </h3>
        <p class="mb-4 text-neutral-500">Custom pricing</p>
        <p>
          Maximize efficiency and sustainability across your entire building portfolio. Perfect for
          real estate funds.
        </p>
        <ul class="my-5 list-disc pl-5 *:my-2 *:text-sm">
          <li>Everything in Platform, plus:</li>
          <li>Portfolio management in Clouder Dashboard.</li>
          <li>Portfolio-wide energy optimization and sustainability tracking.</li>
          <li>Benchmark performance across properties to identify inefficiencies.</li>
          <li>Scalable integrations for rapid onboarding of new buildings.</li>
          <li>Cross-building analytics for data-driven, portfolio-level decisions.</li>
          <li>Streamlined ESG reporting for regulatory compliance and investors.</li>
        </ul>
        <button
          class="h-10 w-full rounded bg-black px-4 text-sm font-medium text-white dark:bg-white dark:text-black"
        >
          Contact sales
        </button>
      </div>
    </div>
  </section>

  <section id="features" class="container pb-24 md:pb-32">
    <h2 class="mb-4 text-3xl font-semibold">What’s included in Clouder Platform?</h2>
    <table class="w-full text-left">
      <thead>
        <tr
          class="text-xl *:border-b *:border-neutral-200 *:py-6 *:font-semibold *:dark:border-neutral-800"
        >
          <th class="w-1/6"></th>
          <th>What you get</th>
          <th>Included in the price?</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="*:border-b *:border-neutral-200 *:py-6 *:align-text-top *:dark:border-neutral-800"
        >
          <td class="font-semibold">Universal connectivity</td>
          <td>
            <ul class="list list-disc space-y-2 px-4">
              <li>
                Connect all building tech systems and devices, independent of vendor or protocol, by
                using Clouder Virtual Cabling Engine.
              </li>
              <li>
                Integrate new or external systems and devices with minimal construction work by
                using Clouder Edge Connectors.
              </li>
              <li>
                Protocol conversions to enable efficient communication between otherwise
                hard-to-integrate systems that do not communicate with one another.
              </li>
            </ul>
          </td>
          <td> Yes. Clouder Edge Connectors are sold separately 1000 € / device. </td>
        </tr>
        <tr
          class="*:border-b *:border-neutral-200 *:py-6 *:align-text-top *:dark:border-neutral-800"
        >
          <td class="font-semibold">Clouder Dashboard</td>
          <td>
            <ul class="list list-disc space-y-2 px-4">
              <li>View and manage all aspects of your building straight from your browser.</li>
              <li>
                Access features like
                <a href="#building-insights">Building insights</a>,
                <a href="#device-control">Device control</a>, and
                <a href="#data-solution">Data solution</a>.
              </li>
            </ul>
          </td>
          <td>Yes</td>
        </tr>
        <tr
          class="*:border-b *:border-neutral-200 *:py-6 *:align-text-top *:dark:border-neutral-800"
        >
          <td id="building-insights" class="font-semibold">Building insights</td>
          <td>
            <ul class="list list-disc space-y-2 px-4">
              <li>
                Real-time data on energy consumption, indoor climate, and other insights enable
                improved monitoring and informed decision-making.
              </li>
              <li>Fault detection and diagnostics with recommendations on how to fix them.</li>
            </ul>
          </td>
          <td>Yes</td>
        </tr>
        <tr
          class="*:border-b *:border-neutral-200 *:py-6 *:align-text-top *:dark:border-neutral-800"
        >
          <td id="device-control" class="font-semibold">Device control</td>
          <td>
            <ul class="list list-disc space-y-2 px-4">
              <li>Control all systems and field devices in your building.</li>
              <li>
                Use sophisticated, event-based rules to control devices. This reduces energy
                consumption without disrupting the existing building automation system.
              </li>
              <li>Enables participation in demand response programs to reduce energy costs.</li>
            </ul>
          </td>
          <td>
            Yes. Event-based rules are available for an additional 100 € / month / building.
          </td>
        </tr>
        <tr
          class="*:border-b *:border-neutral-200 *:py-6 *:align-text-top *:dark:border-neutral-800"
        >
          <td id="data-solution" class="font-semibold">Data solution</td>
          <td>
            <ul class="list list-disc space-y-2 px-4">
              <li>
                Secure real-time cloud storage of accurate building data. No more relying on
                benchmarks or estimates.
              </li>
              <li>
                Export your building's data as a CSV file for sustainability reporting, or access it
                via API for smart office applications and third‑party integrations.
              </li>
              <li>
                Our five-year data retention policy means that you have full ownership and control
                over the data.
              </li>
            </ul>
          </td>
          <td>Yes</td>
        </tr>
        <tr
          class="*:border-b *:border-neutral-200 *:py-6 *:align-text-top *:dark:border-neutral-800"
        >
          <td class="font-semibold">Security built-in</td>
          <td>
            <ul class="list list-disc space-y-2 px-4">
              <li>Fine-grained data access rules and end-to-end encryption.</li>
              <li>
                Robust security in building automation – no more access to systems with default
                passwords.
              </li>
            </ul>
          </td>
          <td>Yes</td>
        </tr>
        <tr
          class="*:border-b *:border-neutral-200 *:py-6 *:align-text-top *:dark:border-neutral-800"
        >
          <td class="font-semibold">Custom integrations</td>
          <td>
            <ul class="list list-disc space-y-2 px-4">
              <li>We work together with your team to come up with a tailored solution.</li>
            </ul>
          </td>
          <td>
            Happy to explore. <a href="/contact" class="underline">Contact us</a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section id="questions" class="container pb-24 md:pb-32">
    <h2 class="mb-4 text-3xl font-semibold">I have a question…</h2>
    <details class="group border-b border-neutral-200 open:pb-5 dark:border-neutral-800">
      <summary
        class="cursor-pointer py-5 font-semibold transition group-open:pb-3 hover:text-indigo-500 dark:hover:text-indigo-400"
      >
        Is this only for new construction?
      </summary>
      <p class="ml-4">
        Clouder's solution can be installed in all types of properties, both existing and new
        construction.
      </p>
    </details>
    <details class="group border-b border-neutral-200 open:pb-5 dark:border-neutral-800">
      <summary
        class="cursor-pointer py-5 font-semibold transition group-open:pb-3 hover:text-indigo-500 dark:hover:text-indigo-400"
      >
        Can I add virtual cabling alongside my current systems?
      </summary>
      <p class="ml-4">
        Yes, our solution can be installed alongside the existing cabling regardless of the systems.
      </p>
    </details>
    <details class="group border-b border-neutral-200 open:pb-5 dark:border-neutral-800">
      <summary
        class="cursor-pointer py-5 font-semibold transition group-open:pb-3 hover:text-indigo-500 dark:hover:text-indigo-400"
      >
        Does to system need a network connection to function?
      </summary>
      <p class="ml-4">
        The system operates locally on the property and does not require an external connection to
        function. Network connection is needed for monitoring and storing data to cloud.
      </p>
    </details>
    <details class="group border-b border-neutral-200 open:pb-5 dark:border-neutral-800">
      <summary
        class="cursor-pointer py-5 font-semibold transition group-open:pb-3 hover:text-indigo-500 dark:hover:text-indigo-400"
      >
        Who does the installation of the connectors?
      </summary>
      <p class="ml-4">
        The installation can be carried out by the site's electrical or automation contractor.
      </p>
    </details>
    <details class="group border-b border-neutral-200 open:pb-5 dark:border-neutral-800">
      <summary
        class="cursor-pointer py-5 font-semibold transition group-open:pb-3 hover:text-indigo-500 dark:hover:text-indigo-400"
      >
        How much does the systems cost annually? Are there any license fees?
      </summary>
      <p class="ml-4">
        The monthly fee is determined by the data amounts and scope of the service. Additionally,
        there are no extra license fees.
      </p>
    </details>
    <details class="group border-b border-neutral-200 open:pb-5 dark:border-neutral-800">
      <summary
        class="cursor-pointer py-5 font-semibold transition group-open:pb-3 hover:text-indigo-500 dark:hover:text-indigo-400"
      >
        Does the system increase construction costs in my projects?
      </summary>
      <p class="ml-4">
        No, the system reduces work phases, installation duration, and thereby lowers construction
        costs.
      </p>
    </details>
    <details class="group border-b border-neutral-200 open:pb-5 dark:border-neutral-800">
      <summary
        class="cursor-pointer py-5 font-semibold transition group-open:pb-3 hover:text-indigo-500 dark:hover:text-indigo-400"
      >
        How the system should be considered in building technology system plans?
      </summary>
      <p class="ml-4">
        <a href="TODO" class="underline underline-offset-2">Download our design guide</a> for building
        automation and electrical designers.
      </p>
    </details>
    <details class="group border-b border-neutral-200 open:pb-5 dark:border-neutral-800">
      <summary
        class="cursor-pointer py-5 font-semibold transition group-open:pb-3 hover:text-indigo-500 dark:hover:text-indigo-400"
      >
        Is there a warranty for the system?
      </summary>
      <p class="ml-4">
        Warranty is 24 months. After the warranty period ends, a maintenance contract offers full
        device warranty.
      </p>
    </details>
  </section>

  <section class="container pb-24 md:pb-32">
    <div
      class="rounded-md border border-neutral-200 bg-white p-6 text-center md:p-12 dark:border-neutral-800 dark:bg-neutral-900"
    >
      <h2 class="mb-4 text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
        Book a demo
      </h2>
      <p class="mb-5">
        If you’re interested in seeing the system live, contact us and book a demo visit to our
        laboratory in Helsinki.
      </p>
      <a
        href="/contact"
        class="inline-block cursor-pointer rounded bg-indigo-500 px-6 text-sm leading-11 font-medium text-nowrap text-white transition hover:bg-indigo-600 dark:hover:bg-indigo-400"
      >
        Contact us
      </a>
    </div>
  </section>
</MainLayout>
