---
import Layout from '@layouts/Layout.astro';
// This view can be used as a generic form submit success page
// https://docs.netlify.com/forms/setup/#success-messages
---

<Layout>
  <div>
    <h1>Thank you!</h1>
    <p>Your form submission has been received.</p>
    <a href="/">Back to home</a>
  </div>
</Layout>

<style>
  div {
    padding: 12vmax 0;
    text-align: center;
  }
</style>
