---
import MainLayout from '@layouts/MainLayout.astro';
// This view can be used as a generic form submit success page
// https://docs.netlify.com/forms/setup/#success-messages
const title = 'Thank you!';
const description = 'Your form submission has been received';
---

<MainLayout title={title}>
  <div class="flex flex-grow flex-col items-center justify-center gap-4 p-6 text-center">
    <span class="text-4xl">🙌</span>
    <h1 class="text-3xl font-semibold">{title}</h1>
    <p>{description}</p>
    <a href="/" class="underline underline-offset-2 hover:text-current/75"> &larr; Back to home </a>
  </div>
</MainLayout>t
