---
import navigation from '@data/navigation.yml';
import GetStartedIllustration from '@assets/getstarted.svg';
---

<div
  class="overflow-hidden rounded-md border border-neutral-200 bg-white shadow-lg shadow-black/2 dark:border-neutral-800 dark:bg-neutral-900"
>
  <GetStartedIllustration class="h-auto w-[1232px]" />
  <div class="flex flex-wrap items-end gap-6 p-8 md:p-12 lg:p-16">
    <div class="mr-auto">
      <h2 class="mb-4 text-2xl font-semibold text-neutral-900 md:text-3xl dark:text-neutral-100">
        Get up and running in 14 days
      </h2>
      <p class="text-neutral-700 dark:text-neutral-300">
        Clouder’s technology has been developed for fast results and quick deployment. <br
          class="hidden lg:inline"
        /> Book a free consultation session so that you can start increasing value today.
      </p>
    </div>
    <a
      href={navigation.contact.href}
      class="inline-flex h-11 cursor-pointer items-center justify-center gap-1 rounded bg-indigo-500 px-5 text-center text-sm font-medium text-nowrap text-white shadow-xs transition select-none hover:bg-indigo-600 dark:hover:bg-indigo-400"
    >
      Book a free consultation
    </a>
  </div>
</div>
