---
import { paths } from '@data/paths';
---

<div class="bg-gray-200 p-12 lg:p-16 xl:p-20">
  <div class="grid gap-6 lg:grid-cols-3 lg:gap-12">
    <h2
      class="col-span-full text-3xl font-semibold text-neutral-950 md:text-4xl dark:text-neutral-50"
    >
      Simple engagement. Fast time to value.
    </h2>
    <div>
      <p class="mb-1 font-mono text-xs text-current/60">01</p>
      <p class="font-semibold">Assesment</p>
      <p>We assess your assets and quantify exactly what is being left on the table.</p>
    </div>
    <div>
      <p class="mb-1 font-mono text-xs text-current/60">02</p>
      <p class="font-semibold">Proof of value</p>
      <p>
        We connect the data, close the gaps, and deliver measurable NOI improvement on a single
        asset
      </p>
    </div>
    <div>
      <p class="mb-1 font-mono text-xs text-current/60">03</p>
      <p class="font-semibold">Scaling</p>
      <p>AI agents, automatic reporting, and continuous optimisation from day one.</p>
    </div>
    <div class="col-span-full flex flex-wrap justify-between gap-4">
      <p class="col-span-2">
        <strong>Roll it out:</strong> The same loop across your assets with compounding results.
      </p>
      <div class="text-right">
        <a
          href={paths.contact.href}
          class="inline-flex h-10 cursor-pointer items-center justify-center gap-1 rounded bg-neutral-800 px-4 text-center text-sm font-medium text-nowrap text-neutral-50 transition select-none hover:bg-neutral-950 active:bg-neutral-950 dark:bg-neutral-200 dark:text-neutral-950 dark:hover:bg-white dark:active:bg-white"
        >
          Book a free consultation
        </a>
      </div>
    </div>
  </div>
</div>
