---
import { ExternalLink, ArrowUpRight } from 'lucide-astro';
import { twMerge } from 'tailwind-merge';
import type { NavItem } from '@data/types';
import navigation from '@data/navigation.yml';
import Logo from '@components/Logo.astro';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const { pathname } = Astro.url;
const navItems: NavItem[] = navigation.filter((item: NavItem) => item.showInMainNav);

const isActive = (href: string) => {
  if (href === '/') return pathname === href;
  return pathname.startsWith(href);
};

const isExternal = (href: string) => {
  return href.startsWith('http');
};
---

<header
  class:list={twMerge(
    'bg-neutral-50 py-4 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100',
    className
  )}
>
  <div class="container flex flex-wrap items-center gap-6">
    <a href="/" class="mr-auto">
      <Logo size={20} />
    </a>
    <nav class="flex flex-wrap gap-x-4">
      {
        navItems.map(({ title, href }) => (
          <a
            href={href}
            aria-current={isActive(href) ? 'page' : undefined}
            class="inline-flex items-center gap-0.5 border-b-2 border-b-transparent px-1 py-2 text-current transition hover:opacity-60 aria-[current]:border-b-indigo-500 hover:aria-[current]:opacity-100"
          >
            {title}
            {isExternal(href) && <ArrowUpRight size={16} />}
          </a>
        ))
      }
    </nav>
  </div>
</header>
