---
import { twMerge } from 'tailwind-merge';
import type { NavItem } from '@data/types';
import navigation from '@data/navigation.yml';
import Logo from '@components/Logo.astro';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const { pathname } = Astro.url;
const navItems: NavItem[] = navigation.filter((item: NavItem) => item.showInMainNav);

const isActive = (href: string) => {
  if (href === '/') return pathname === href;
  return pathname.startsWith(href);
};
---

<header
  class:list={twMerge(
    'bg-neutral-50 py-4 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100',
    className
  )}
>
  <div class="container flex flex-wrap gap-x-6 gap-y-2">
    <a href="/" class="mr-auto py-2">
      <Logo size={20} />
    </a>
    <nav class="-mx-3.5 flex flex-wrap">
      {
        navItems.map(({ title, href }) => (
          <a
            href={href}
            aria-current={isActive(href) ? 'page' : undefined}
            class:list={twMerge(
              'rounded-full px-3.5 leading-9 font-medium text-current transition hover:bg-current/5 aria-[current]:text-current',
              navItems.some((i) => isActive(i.href)) && 'text-current/60 hover:text-current'
            )}
          >
            {title}
          </a>
        ))
      }
    </nav>
  </div>
</header>
