---
import CircleDotIcon from 'lucide-astro/CircleDot';
import CircleMinusIcon from 'lucide-astro/CircleMinus';
import CircleCheckIcon from 'lucide-astro/CircleCheck';
import CircleArrowRightIcon from 'lucide-astro/CircleArrowRight';
---

<div
  class="rounded-lg border border-neutral-200 bg-white p-6 shadow-[0_1px_16px] shadow-black/4 select-none dark:border-neutral-800 dark:bg-neutral-900 dark:shadow-black/50"
>
  <p class="mb-2 text-[15px] leading-tight font-semibold text-neutral-700 dark:text-neutral-300">
    Audit trail
  </p>
  <div class="relative text-neutral-600 dark:text-neutral-400">
    <div class="absolute top-5 bottom-0 left-[5.5px] z-0 w-px bg-current/20"></div>
    <div class="relative z-1 text-[13px]">
      <div
        class="group flex items-center gap-2 py-1.5 transition duration-300 hover:text-neutral-800 dark:hover:text-neutral-300"
      >
        <CircleMinusIcon
          size={12}
          class="flex-shrink-0 fill-white stroke-rose-700/65 transition duration-300 group-hover:stroke-rose-700 dark:fill-neutral-900 dark:stroke-rose-400/65 dark:group-hover:stroke-rose-400"
        />
        <div class="min-w-0 flex-shrink-0">
          <strong>System</strong> detected <strong>ventilation damper open without occupancy</strong
          > in
          <strong>Floor 4</strong>
        </div>
      </div>
      <div
        class="group flex items-center gap-2 py-1.5 transition duration-300 hover:text-neutral-800 dark:hover:text-neutral-300"
      >
        <CircleArrowRightIcon
          size={12}
          class="flex-shrink-0 fill-white stroke-blue-700/65 transition duration-300 group-hover:stroke-blue-700 dark:fill-neutral-900 dark:stroke-blue-400/65 dark:group-hover:stroke-blue-400"
        />
        <div class="min-w-0 flex-shrink-0">
          <strong>Amanda</strong> reconfigured <strong>Space 512</strong> into <strong
            >Space 512A</strong
          > and
          <strong>Space 512B</strong>
        </div>
      </div>
      <div
        class="group flex items-center gap-2 py-1.5 transition duration-300 hover:text-neutral-800 dark:hover:text-neutral-300"
      >
        <CircleDotIcon
          size={12}
          class="flex-shrink-0 fill-white stroke-amber-700/65 transition duration-300 group-hover:stroke-amber-700 dark:fill-neutral-900 dark:stroke-amber-400/65 dark:group-hover:stroke-amber-400"
        />
        <div class="min-w-0 flex-shrink-0">
          <strong>Robert</strong> updated <strong>energy usage targets</strong> for the property
        </div>
      </div>
      <div
        class="group flex items-center gap-2 py-1.5 transition duration-300 hover:text-neutral-800 dark:hover:text-neutral-300"
      >
        <CircleDotIcon
          size={12}
          class="flex-shrink-0 fill-white stroke-amber-700/65 transition duration-300 group-hover:stroke-amber-700 dark:fill-neutral-900 dark:stroke-amber-400/65 dark:group-hover:stroke-amber-400"
        />
        <div class="min-w-0 flex-shrink-0">
          <strong>Martin</strong> updated <strong>VCE firmware</strong> for all devices
        </div>
      </div>
      <div
        class="group flex items-center gap-2 py-1.5 transition duration-300 hover:text-neutral-800 dark:hover:text-neutral-300"
      >
        <CircleCheckIcon
          size={12}
          class="flex-shrink-0 fill-white stroke-green-700/65 transition duration-300 group-hover:stroke-green-700 dark:fill-neutral-900 dark:stroke-green-400/65 dark:group-hover:stroke-green-400"
        />
        <div class="min-w-0 flex-shrink-0">
          <strong>System</strong> adjusted <strong>HVAC schedules</strong> for <strong
            >Zone A</strong
          >
        </div>
      </div>
    </div>
  </div>
</div>
