---
import 'img-comparison-slider';
import { Image } from 'astro:assets';
import GripVerticalIcon from 'lucide-astro/GripVertical';

interface Props {
  firstImage: ImageMetadata;
  secondImage: ImageMetadata;
}

const { firstImage, secondImage } = Astro.props;
---

<script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>

<img-comparison-slider class="disable-focus">
  <Image slot="first" src={firstImage} alt="First" />
  <Image slot="second" src={secondImage} alt="Second" />
  <div slot="handle">
    <div
      class="cursorcursor-pointer z-50 block rounded-full border border-indigo-700/50 bg-indigo-500 p-3 text-white shadow-md"
    >
      <GripVerticalIcon size={20} />
    </div>
  </div>
</img-comparison-slider>

<style>
  img-comparison-slider {
    --divider-color: color-mix(in oklab, currentColor 20%, transparent);

    &:focus {
      outline: none;
    }
  }
</style>
