---
import type { NavItem } from '@data/types';
import navigation from '@data/navigation.yml';
import Logo from '@components/Logo.astro';

const { pathname } = Astro.url;
const navItems: NavItem[] = navigation.filter((item: NavItem) => item.showInMainNav);

const isActive = (href: string) => {
  if (href === '/') return pathname === href;
  return pathname.startsWith(href);
};
---

<header>
  <a href="/" class="logo">
    <Logo size={20} />
  </a>
  <nav>
    {
      navItems.map(({ title, href }) => (
        <a href={href} aria-current={isActive(href) ? 'page' : undefined}>
          {title}
        </a>
      ))
    }
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .logo {
    margin-right: auto;
  }

  nav {
    display: flex;
    gap: 1rem;
  }

  a {
    color: currentColor;
    font-weight: 450;
    padding: 0.25rem;
    text-decoration: none;

    &:hover:not([aria-current]) {
      opacity: 0.5;
    }

    &[aria-current='page'] {
      border-bottom: 2px solid currentColor;
    }
  }
</style>
