---
import navigation from '@data/navigation.yml';
---

<div
  class="rounded-lg border border-neutral-200 bg-white p-8 shadow-lg shadow-black/2 md:p-12 lg:p-16 dark:border-neutral-800 dark:bg-neutral-900 dark:shadow-black/50"
>
  <div class="flex flex-col justify-center text-center">
    <h3 class="mb-3 text-2xl font-semibold text-neutral-950 md:text-3xl dark:text-neutral-50">
      Be the first one to know more
    </h3>
    <p class="text-neutral-700 dark:text-neutral-300">
      Sign up to our newsletter to receive company news, product updates and more.
    </p>
    <form
      name="newsletter"
      method="POST"
      action="/success"
      data-netlify="true"
      netlify-honeypot="bot-field"
      class="my-8 flex flex-wrap justify-center gap-x-2 gap-y-4"
    >
      <input
        name="email"
        placeholder="Email"
        type="email"
        required
        class="h-10 w-full rounded border border-neutral-200 bg-neutral-50 px-3 text-sm placeholder:text-neutral-500 sm:max-w-96 dark:border-neutral-800 dark:bg-neutral-950"
      />
      <button
        type="submit"
        class="inline-flex h-10 w-full cursor-pointer items-center justify-center gap-1 rounded bg-indigo-500 px-4 text-center text-sm font-[550] text-nowrap text-white transition select-none hover:bg-indigo-600 active:bg-indigo-600 sm:w-auto dark:hover:bg-indigo-400 dark:active:bg-indigo-400"
      >
        Sign up
      </button>
      <input
        name="bot-field"
        type="text"
        autocomplete="off"
        tabindex="-1"
        aria-hidden="true"
        style="position: absolute; left: -9999px;"
      />
    </form>
    <p class="text-xs text-neutral-500">
      See our
      <a href={navigation.privacy.href} class="underline" tabindex="-1">
        {navigation.privacy.title}
      </a>
      for details on how we handle your data.
    </p>
  </div>
</div>

<script>
  window.addEventListener('pageshow', (event) => {
    const navEntry = performance.getEntriesByType('navigation')[0] as PerformanceNavigationTiming;
    if (!navEntry) return;
    const navigationType = navEntry.type;
    if (event.persisted || navigationType === 'back_forward') {
      const form = document.querySelector('form');
      if (form instanceof HTMLFormElement) {
        form.reset();
      }
    }
  });
</script>
