---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';

interface Props {
  quote: string;
  citeName: string;
  citeTitle: string;
  citeLogo?: AstroComponentFactory & ImageMetadata;
}

const { quote, citeName, citeTitle, citeLogo: Logo } = Astro.props;
---

<blockquote
  class="flex flex-col items-start border-l-2 border-neutral-200 pl-6 dark:border-neutral-800"
>
  <p class="mb-auto max-w-prose -indent-[0.45em] text-lg leading-normal font-[550] italic">
    &ldquo;{quote}&rdquo;
  </p>
  <p class="mt-6 text-sm font-medium text-neutral-700 dark:text-neutral-300">{citeName}</p>
  <p class="text-sm font-medium text-neutral-500">{citeTitle}</p>
  {Logo && <Logo class="mt-1 h-5 w-auto text-neutral-500" />}
</blockquote>
