---
import ArrowUpIcon from 'lucide-astro/ArrowUp';
import ArrowDownIcon from 'lucide-astro/ArrowDown';
import ZapIcon from 'lucide-astro/Zap';
import FlameIcon from 'lucide-astro/Flame';
import SnowflakeIcon from 'lucide-astro/Snowflake';
import ChevronRightIcon from 'lucide-astro/ChevronRight';
import EllipsisIcon from 'lucide-astro/EllipsisVertical';
import { DateTime } from 'luxon';

const consumptions = [
  { type: 'Heating', icon: FlameIcon, value: 54.3, target: 48 },
  { type: 'Cooling', icon: SnowflakeIcon, value: 25.8, target: 24 },
  { type: 'Electricity', icon: ZapIcon, value: 96.1, target: 108 }
];

function getPercentage(target: number, value: number) {
  const diff = value - target;
  const percentage = diff / target;
  return Math.abs(percentage * 100).toFixed(1) + '%';
}
---

<div
  class="shrink-0 overflow-hidden rounded-lg bg-white p-4 text-neutral-700 shadow-xl shadow-black/5 outline-[0.5px] outline-black/5 select-none dark:bg-neutral-900 dark:text-neutral-300 dark:shadow-black/20 dark:outline-white/5"
>
  <div class="flex items-center">
    <div>
      <p class="text-[13px] font-semibold text-neutral-800 dark:text-neutral-200">
        Energy consumption
      </p>
      <p class="mt-0.5 text-xs text-neutral-500">
        {DateTime.now().minus({ month: 1 }).toFormat('MMMM, yyyy')}
      </p>
    </div>
    <EllipsisIcon
      size={16}
      class="ml-auto cursor-pointer text-neutral-500 transition hover:text-current active:text-current"
    />
  </div>
  <table class="mt-3 w-full text-xs text-nowrap">
    <thead>
      <tr class="text-[10px] font-medium tracking-wider text-neutral-500 uppercase *:p-2">
        <td class="pl-1!">Type</td>
        <td>Actual</td>
        <td>Target</td>
        <td class="pr-1!">Deviation</td>
      </tr>
    </thead>
    <tbody>
      {
        consumptions.map(({ type, icon: Icon, value, target }) => (
          <tr class="border-t border-current/8 transition *:p-2 hover:bg-current/4 active:bg-current/4">
            <td class="pl-1!">
              <span class="inline-flex items-center gap-1">
                <Icon size={14} class="text-neutral-500" />
                {type}
              </span>
            </td>
            <td class="tabular-nums">
              {value} <small>MWh</small>
            </td>
            <td>
              <span class="text-xs text-neutral-500 tabular-nums">
                {target} <small>MWh</small>
              </span>
            </td>
            <td class="pr-1!">
              <span
                class:list={[
                  'inline-flex items-center gap-1 tabular-nums',
                  value <= target
                    ? 'text-blue-600 dark:text-blue-400'
                    : 'text-red-600 dark:text-red-400'
                ]}
              >
                {value <= target ? <ArrowDownIcon size={12} /> : <ArrowUpIcon size={12} />}
                <span class="text-[11px]">{getPercentage(target, value)}</span>
              </span>
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <p
    class="group mt-3 flex cursor-pointer items-center text-xs text-neutral-500 transition hover:text-current active:text-current"
  >
    View details
    <ChevronRightIcon class="mt-px transition group-hover:translate-x-0.5" size={12} />
  </p>
</div>
