---
import { DateTime } from 'luxon';
// import TrendingUpIcon from 'lucide-astro/TrendingUp';
import TrendingDownIcon from 'lucide-astro/TrendingDown';
import ChevronRightIcon from 'lucide-astro/ChevronRight';
import ChevronLeftIcon from 'lucide-astro/ChevronLeft';
---

<div
  class="relative shrink-0 overflow-hidden rounded-xl bg-white text-neutral-700 shadow-xl shadow-black/5 outline-[0.5px] outline-black/5 select-none dark:bg-neutral-900 dark:text-neutral-300 dark:shadow-black/20 dark:outline-white/5"
>
  <div
    class="absolute z-0 hidden size-96 bg-radial-[at_0_0] from-neutral-800/50 via-neutral-800/25 via-25% to-transparent to-50% lg:size-128 dark:block"
  >
  </div>
  <div class="relative flex flex-col lg:flex-row">
    <div class="w-full p-4 lg:p-5">
      <div class="flex items-start">
        <div class="mr-auto">
          <p class="text-base font-semibold text-neutral-800 dark:text-neutral-200">
            Property performance
          </p>
          <p class="mt-0.5 text-sm text-neutral-500">Area: 13,500 m²&ensp;&middot;&ensp;EPC: C</p>
        </div>
        <div class="flex rounded border border-neutral-200 dark:border-neutral-800">
          <ChevronLeftIcon class="p-1.5 transition hover:bg-current/5" size={26} />
          <span
            class="border-x border-neutral-200 px-3 text-xs leading-6.5 dark:border-neutral-800"
          >
            {DateTime.now().year}
          </span>
          <ChevronRightIcon class="p-1.5 text-current/50" size={26} />
        </div>
      </div>
      <div class="lg:aspect-wide mt-4 aspect-square">
        <canvas id="myChart" class="block"></canvas>
      </div>
    </div>
    <div
      class="flex w-full flex-col gap-3 border-t border-neutral-200 p-4 lg:w-96 lg:gap-4 lg:border-t-0 lg:border-l lg:p-5 dark:border-neutral-800"
    >
      <p class="text-sm font-semibold">Energy target</p>
      <div class="grid grid-cols-2 gap-1">
        <p class="text-[13px]">Budget</p>
        <p class="text-[13px]">1.1300 MWh</p>
        <p class="text-[13px]">Adjusted</p>
        <p class="text-[13px]">1.290 MWh</p>

        <p class="col-span-full pr-4 text-xs text-neutral-500">
          0.8% below budget due to lower heating need
        </p>
      </div>
      <hr class="my-1 border-neutral-200 lg:-mx-5 dark:border-neutral-800" />
      <p class="text-sm font-semibold">Forecast, year end</p>
      <div class="grid grid-cols-2 gap-1">
        <p class="text-sm">Consumption</p>
        <div class="flex items-center gap-1">
          <p class="text-sm">1.289 MWh</p>
          <TrendingDownIcon size={14} class="text-blue-600 dark:text-blue-400" />
        </div>
        <p class="col-span-full pr-4 text-xs text-neutral-500">
          Operational gap is 0.1% below adjusted target
        </p>
      </div>
      <div class="grid grid-cols-2 gap-1">
        <p class="text-sm">Value created</p>
        <p class="text-sm">€&hairsp;25.000</p>
        <p class="col-span-full pr-4 text-xs text-neutral-500">
          Consumption 1 MWh below adjusted target, NOI improved €&hairsp;1.000
        </p>
      </div>
      <div class="grid grid-cols-2 gap-1">
        <p class="text-sm">Energy intensity</p>
        <div class="flex items-center gap-1">
          <p class="text-sm">95 kWh/m²</p>
          <TrendingDownIcon size={14} class="text-blue-600 dark:text-blue-400" />
        </div>
        <p class="col-span-full text-xs text-neutral-500">Target: 96 kWh/m²</p>
      </div>
      <div class="grid grid-cols-2 gap-1">
        <p class="text-sm">CO₂ Emissions</p>
        <div class="flex items-center gap-1">
          <p class="text-sm">17kg CO₂e/m²</p>
          <TrendingDownIcon size={14} class="text-blue-600 dark:text-blue-400" />
        </div>
        <p class="col-span-full text-xs text-neutral-500">Target: 20kg CO₂e/m²</p>
      </div>
    </div>
  </div>
</div>

<script>
  import Chart from 'chart.js/auto';

  const ctx = document.getElementById('myChart');

  const isMobile = window.matchMedia('(max-width: 1024px)').matches;
  const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
  const fg = isDark ? '#737373' : '#a3a3a3';
  const fgDark = isDark ? '#d4d4d4' : '#262626';
  const bg = isDark ? '#262626' : '#fff';
  const border = isDark ? 'rgba(255,255,255,0.08)' : 'rgba(0,0,0,0.08)';
  const borderDark = isDark ? 'rgba(255,255,255,0.12)' : 'rgba(0,0,0,0.12)';

  const verticalLinePlugin = {
    id: 'verticalLinePlugin',
    beforeDraw: (chart) => {
      if (chart.tooltip?._active && chart.tooltip._active.length) {
        const ctx = chart.ctx;
        ctx.save();
        const activePoint = chart.tooltip._active[0];
        ctx.beginPath();
        ctx.setLineDash([5, 5]);
        ctx.moveTo(activePoint.element.x, chart.chartArea.top);
        ctx.lineTo(activePoint.element.x, chart.chartArea.bottom);
        ctx.lineWidth = 1;
        ctx.strokeStyle = borderDark;
        ctx.stroke();
        ctx.restore();
      }
    }
  };

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
      datasets: [
        {
          label: 'Target',
          data: [
            0, 9.090909, 18.181818, 27.272727, 36.363636, 45.454545, 54.545455, 63.636364,
            72.727273, 81.818182, 90.909091, 100
          ],
          borderColor: 'royalblue',
          backgroundColor: 'royalblue',
          borderWidth: 2,
          borderCapStyle: 'round',
          pointStyle: 'circle',
          pointHoverRadius: 3,
          pointRadius: 0,
          fill: false
        },
        {
          label: 'Actual',
          data: [0, 12.85, 21.5],
          borderColor: 'salmon',
          backgroundColor: 'salmon',
          borderWidth: 2,
          borderCapStyle: 'round',
          pointStyle: 'circle',
          pointHoverRadius: 3,
          pointRadius: 0,
          fill: false
        },
        {
          label: 'Estimate',
          data: [
            null,
            null,
            21.5,
            30.144444,
            38.788889,
            47.433333,
            56.077778,
            64.722222,
            73.366667,
            82.011111,
            90.655556,
            99.3
          ],
          borderColor: 'lightsalmon',
          backgroundColor: 'lightsalmon',
          borderWidth: 2,
          borderDash: [8, 8],
          borderCapStyle: 'round',
          pointStyle: 'circle',
          pointHoverRadius: 3,
          pointRadius: 0
        }
      ]
    },
    options: {
      responsive: true,
      aspectRatio: isMobile ? 1 : 2,
      animation: {
        duration: 300
      },
      plugins: {
        tooltip: {
          enabled: true,
          caretSize: 0,
          caretPadding: 20,
          padding: {
            left: 12,
            right: 16,
            top: 11,
            bottom: 10
          },
          backgroundColor: bg,
          borderWidth: 1,
          borderColor: borderDark,
          titleColor: fgDark,
          bodyColor: fgDark,
          footerSpacing: 0,
          footerMarginTop: 2,
          footerColor: fgDark,
          footerFont: {
            weight: 'normal'
          },
          filter: (item) => {
            if (item.dataset.label === 'Estimate' && item.dataIndex === 2) {
              return false;
            }
            return true;
          },
          callbacks: {
            label: (item) => {
              return false;
            },
            footer: (item) => {
              const diff = Number(item[0].raw) - Number(item[1].raw);
              if (isNaN(diff)) return '–';
              const absDiff = Math.abs(diff).toFixed(1);
              if (diff === 0) return 'At target';
              if (diff < 0) return `${absDiff}% over target`;
              return `${absDiff}% under target`;
            }
          }
        },
        legend: {
          display: true,
          position: 'bottom',
          labels: {
            boxWidth: 4,
            boxHeight: 4,
            usePointStyle: true,
            padding: 24
          }
        }
      },
      interaction: {
        mode: 'index',
        intersect: false,
        axis: 'x'
      },
      scales: {
        x: {
          offset: true,
          border: {
            display: false
          },
          grid: {
            display: false
          },
          ticks: {
            color: fg
          }
        },
        y: {
          border: {
            display: false
          },
          grid: {
            display: true,
            color: border
          },
          ticks: {
            color: fg,
            padding: 4,
            callback: (value) => `${value}%`
          },
          beginAtZero: true
        }
      }
    },
    plugins: [verticalLinePlugin]
  });
</script>
