---
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import ecImage from '@assets/ec-6-2.png';
---

<Layout title="Edge Connector 6-2">
  <h1>Edge Connector 6-2</h1>
  <Image src={ecImage} alt="Product image" />
</Layout>
