---
import { Image } from 'astro:assets';
import MainLayout from '@layouts/MainLayout.astro';
import ecImage from '@assets/ec-6-2.png';
---

<MainLayout title="Edge Connector 6-2">
  <h1>Edge Connector 6-2</h1>
  <Image src={ecImage} alt="Product image" />
</MainLayout>
