---
import BaseLayout from '@layouts/BaseLayout.astro';
import SiteHeader from '@components/SiteHeader.astro';
import SiteFooter from '@components/SiteFooter.astro';

type Props = Parameters<typeof BaseLayout>[0];

const { headerClass, ...restProps } = Astro.props;
---

<BaseLayout {...restProps}>
  <SiteHeader class={headerClass} />
  <main class="flex h-full flex-grow flex-col">
    <slot />
  </main>
  <SiteFooter />
</BaseLayout>
