---
import type { ImageMetadata } from 'astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

type Props = Parameters<typeof BaseLayout>[0];

const { headerClass, ...restProps } = Astro.props;
---

<BaseLayout {...restProps}>
  <Header class={headerClass} />
  <main class="flex h-full flex-grow flex-col">
    <slot />
  </main>
  <Footer />
</BaseLayout>
