---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

type Props = Parameters<typeof BaseLayout>[0];

const props = Astro.props;
---

<BaseLayout {...props}>
  <Header />
  <main class="container">
    <section class="prose prose-neutral mx-auto max-w-4xl">
      <slot />
    </section>
  </main>
  <Footer />
</BaseLayout>
