---
import BaseLayout from '@layouts/BaseLayout.astro';
import SiteHeader from '@components/SiteHeader.astro';
import SiteFooter from '@components/SiteFooter.astro';

type Props = Parameters<typeof BaseLayout>[0];

const props = Astro.props;
const frontmatter = props.frontmatter || {};
---

<BaseLayout {...props}>
  <SiteHeader />
  <main class="container py-16 lg:py-32">
    <div class="prose prose-neutral dark:prose-invert mx-auto">
      {
        frontmatter?.title && (
          <h1 class="mb-4 font-serif text-4xl font-normal text-neutral-950 lg:text-5xl dark:text-neutral-50">
            {frontmatter.title}
          </h1>
        )
      }
      <slot />
    </div>
  </main>
  <SiteFooter />
</BaseLayout>
